# https://firms.modaps.eosdis.nasa.gov/api/map_key/
FIRMS_MAP_KEY=

# https://documentation.dataspace.copernicus.eu/APIs/S3.html#generate-secrets
COPERNICUS_AWS_ACCESS_KEY_ID=
COPERNICUS_AWS_SECRET_ACCESS_KEY=