name: pytest

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    if: "! contains(github.event.head_commit.message, 'no-workflow')"
    strategy:
      matrix:
        python-version: ["3.10"]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -e .
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ca-central-1
      - name: Run tests
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          ABCLI_AWS_RDS_HOST: ${{ secrets.ABCLI_AWS_RDS_HOST }}
          ABCLI_AWS_RDS_PASSWORD: ${{ secrets.ABCLI_AWS_RDS_PASSWORD }}
          FIRMS_MAP_KEY: ${{ secrets.FIRMS_MAP_KEY }}
          COPERNICUS_AWS_ACCESS_KEY_ID: ${{ secrets.COPERNICUS_AWS_ACCESS_KEY_ID }}
          COPERNICUS_AWS_SECRET_ACCESS_KEY: ${{ secrets.COPERNICUS_AWS_SECRET_ACCESS_KEY }}
          DATABRICKS_HOST: ${{ secrets.DATABRICKS_HOST }}
          DATABRICKS_TOKEN: ${{ secrets.DATABRICKS_TOKEN }}
          SKYFOX_ACCESS_TOKEN_URL: ${{ secrets.SKYFOX_ACCESS_TOKEN_URL }}
          SKYFOX_CLIENT_ID: ${{ secrets.SKYFOX_CLIENT_ID }}
          SKYFOX_CLIENT_SECRET: ${{ secrets.SKYFOX_CLIENT_SECRET }}
        run: |
          echo "AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID"
          echo "AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY"
          echo "ABCLI_AWS_RDS_HOST: $ABCLI_AWS_RDS_HOST"
          echo "ABCLI_AWS_RDS_PASSWORD: $ABCLI_AWS_RDS_PASSWORD"
          echo "FIRMS_MAP_KEY: $FIRMS_MAP_KEY"
          echo "COPERNICUS_AWS_ACCESS_KEY_ID: $COPERNICUS_AWS_ACCESS_KEY_ID"
          echo "COPERNICUS_AWS_SECRET_ACCESS_KEY: $COPERNICUS_AWS_SECRET_ACCESS_KEY"
          echo "DATABRICKS_HOST: $DATABRICKS_HOST"
          echo "DATABRICKS_TOKEN: $DATABRICKS_TOKEN"
          echo "SKYFOX_ACCESS_TOKEN_URL: $SKYFOX_ACCESS_TOKEN_URL"
          echo "SKYFOX_CLIENT_ID: $SKYFOX_CLIENT_ID"
          echo "SKYFOX_CLIENT_SECRET: $SKYFOX_CLIENT_SECRET"
          pytest
